<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEgnjNf9MNugZ13RrEogrLzVNn4Lg0xII</string>
	<key>GCM_SENDER_ID</key>
	<string>25567581938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.premiumwork.app</string>
	<key>PROJECT_ID</key>
	<string>premiumwork</string>
	<key>STORAGE_BUCKET</key>
	<string>premiumwork.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25567581938:ios:4ba30644ba3001ec62626b</string>
</dict>
</plist>